$header-bg-color:#014E56; 
$hero-bg-color:#014E56; 
$service-bg-color:#012F34;  
$contact-bg-color:#004047;
$sidebar-bg-color:#F67E7E; 
$footer-bg-color:#002529; 
$aside-bg-color:#014E56; 
$Widget-bg-color:#004047;;
